
.images {
  width: 450px;
  height: 300px;
}


/*------------------*/


/* Navigation Bar */
nav ul li {
	float: left;
	list-style: none;
  background-color: rgba(94,108,116,.6);
  margin: 2px;
  opacity: 0.9;
}
nav ul li a {
	display: block;
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	padding: 8px 10px;
	text-decoration: none;
  letter-spacing: 1px;
}

/* Header picture */
header {
  background: url("https://static1.squarespace.com/static/564380b2e4b042aca2ba66f8/t/56561b46e4b00f188f2d27db/1448483662679/web-skynewblue.png?format=2500w") no-repeat;
  height: 600px;
  background-position: center;
  display: cover;
  margin: auto;
  max-width: 100%;
}

/* Footer information */
footer h1 {
  text-align: center;
  background-color: #5e6c74;
  border-color: #94a3a4;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
  color: rgba(255,255,255,.8);
  width: auto;
  height: 100px;
  padding-top: 75px;
}

/* About the Crosstown, Crosstown Special Features, THE NEIGHBOURHOOD titles */
.aboutcrosshood {
  font-family: "Rajdhani";
  font-size: 30px;
  line-height: 1.6em;
  letter-spacing: .4px;
  font-weight: 300;
  font-style: normal;
  color: rgba(31,37,38,.75);
  text-align: center;
}

/* Mini titles like shops, restaurants etc. */
.mini_title {
  font-family: "Rajdhani";
  font-size: 24px;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 600;
  color: #5e6c74;
}

/* Download Button */
.download-btn {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 1em 1.75em;
  background-color: #5e6c74;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  line-height: 1em;
  margin: 10px 0;
  color: rgba(255,255,255,.8);
  border: none;
}

/* Submit Button */
.submit-btn {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 1em 1.75em;
  background-color: #5e6c74;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  line-height: 1em;
  margin: 10px 0;
  color: rgba(255,255,255,.8);
  border: none;
  text-transform: uppercase;
}

/* Contact Us Now Button */
.contact-btn  {
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  background-color: #94a3a4;
  border-color: #94a3a4;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  line-height: 1em;
  margin: 10px 0;
  border: none;
  padding: 10px;
}

/* Inquiries section */
.inquiries {
  text-align: center;
  font-family: "Rajdhani";
  font-size: 24px;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: normal;
  color: #FFF;
  text-transform: uppercase;
}

/* Text below inquiries, contact us section + input form text */
.contact-text {
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: .4px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}

/*input form First and Last name */
.first_last {
  letter-spacing: .4px;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

/* Contact form list style */
.input_form {
  list-style: none;
}

/* Home Logo picture */
#logo {
  padding-top: 10px;
  padding-left: 10px;
  width: 120px;
  height: 90px;
}

/* All text on the webpage,all paragraphs */
#text {
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: .4px;
  font-weight: 300;
  font-style: normal;
  color: rgba(31,37,38,.75);

}

/* Own this Building section */
#own {
  background-color: #5e6c74;
  text-align: center;
  font-family: "Rajdhani";
  font-size: 24px;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: normal;
  color: #FFF;
}

/* Ownership has its rewards section */
#ownership {
  background: url("https://static1.squarespace.com/static/564380b2e4b042aca2ba66f8/t/56561b46e4b00f188f2d27db/1448483662679/web-skynewblue.png?format=2500w") no-repeat;
  height: 1000px;
  text-align: center;
  font-family: "Rajdhani";
  font-size: 34px;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: normal;
  color: #FFF;
  padding-top: 100px;
}

/* Map picture */
#map {
  position: center;
  height: 300px;
  width: 750px;
  padding-left: 80px;
}

/* Java script */
#Java {
    background-color: grey;
    color: black;
    text-align: center;
}

/* Inquiries image and section itself */
#book {
  background: url("https://static1.squarespace.com/static/564380b2e4b042aca2ba66f8/t/56561b46e4b00f188f2d27db/1448483662679/web-skynewblue.png?format=2500w") no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(148,163,164,.8);
  height: 450px;
}
