#logo {
  padding-top: 10px;
  padding-left: 10px;
  width: 120px;
  height: 90px;
}
header {
  background: url("https://static1.squarespace.com/static/564380b2e4b042aca2ba66f8/t/56561b46e4b00f188f2d27db/1448483662679/web-skynewblue.png?format=2500w") no-repeat;
  height: 600px;
  background-position: center;
  display: cover;
  margin: auto;
}
/* navigation bar */
nav ul li {
	float: left;
	list-style: none;
}
nav ul li a {
	display: block;
	font-family: Arial;
	font-size:14px;
	color: #222;
	padding: 40px 14px;
	text-decoration: none;
  letter-spacing: 1px;
}
.row {
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.col-xs-2{
  flex:2;
}
.col-xs-10 {
  flex:10;
}
#own {
  background-color: #5e6c74;
}
h1{
  font-family: "Rajdhani";
  font-size: 39px;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: normal;
  color: #FFF;
  text-align: center;
}

.row5 {
  display: flex;
}

#contact-btn  {
    background-color: grey;
    color: white; /* White text */
    padding: 5px 20px;
    cursor: pointer;
    float: right;
}

#contact-btn:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
#contact-btn:after {
    content: "";
    clear: both;
}

/* Add a background color on hover */
#contact-btn:hover {
    background-color: #3e8e41;
}
